<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{dbtype}}巡检报告({{author}}) </title>
<style type="text/css">
body.awr {font:bold 10pt Arial,Helvetica,Geneva,sans-serif;color:black; background:White;}
pre.awr  {font:8pt Courier;color:black; background:White;}
h1.awr   {font:bold 20pt Arial,Helvetica,Geneva,sans-serif;color:#336699;background-color:White;border-bottom:1px solid #cccc99;margin-top:0pt; margin-bottom:0pt;padding:0px 0px 0px 0px;}
h2.awr   {font:bold 18pt Arial,Helvetica,Geneva,sans-serif;color:#336699;background-color:White;margin-top:4pt; margin-bottom:0pt;}
h3.awr {font:bold 16pt Arial,Helvetica,Geneva,sans-serif;color:#336699;background-color:White;margin-top:4pt; margin-bottom:0pt;}
li.awr {font: 8pt Arial,Helvetica,Geneva,sans-serif; color:black; background:White;}
th.awrbg {font:bold 8pt Arial,Helvetica,Geneva,sans-serif; color:White; background:#0066CC;padding-left:4px; padding-right:4px;padding-bottom:2px}
a.awr {font:bold 8pt Arial,Helvetica,sans-serif;color:#663300; vertical-align:top;margin-top:0pt; margin-bottom:0pt;}
table.tdiff {  border_collapse: collapse; }
.hidden   {position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;}
.pad   {margin-left:17px;}
.doublepad {margin-left:34px;}
tr:hover   {background-color: yellow;}
</style>

<script type="text/javascript">
console.log("mysql_inspection 版本为: {{mysql_inspection_version}}")
console.log("xunjian_analyze 版本为: {{xunjian_analyze_version}}")
</script>

</head>
<body class="awr">
<h1 class="awr">
{{dbtype}} {{ host }}:{{port}}
</h1>
<p />
<table border="0" width="75%" class="tdiff" summary="数据库基础信息">
	<tr>
		<th class="awrbg" scope="col">数据库类型</th>
		<th class="awrbg" scope="col">数据库版本</th>
		<th class="awrbg" scope="col">SERVER ID</th>
		<th class="awrbg" scope="col">是否为从库</th>
		<th class="awrbg" scope="col">是否为MGR</th>
		<th class="awrbg" scope="col">运行时间</th>
	</tr>
	<tr>
		<td >{{dbtype}}</td><td>{{version}}</td>
		<td >{{server_id}}</td>
		<td >
{% if isslave%}
是
{% else %}
否
{% endif %}
		</td>
		<td>暂不支持</td>
		<td>{{(uptime / 60 / 60 /24) | round(2)}} 天</td>
	</tr>
</table>
<p />


<table border="0" width="50%" class="tdiff" summary="tps_qps_trx">
<tr>
	<th class="awrbg" scope="col">TPS</th>
	<th class="awrbg" scope="col">QPS</th>
	<th class="awrbg" scope="col">事务隔离级别</th>
</tr>
<tr>
	<td >{{tps}}</td>
	<td >{{qps}}</td>
	<td >{{transaction_isolation}}</td>
</tr>
</table>

<h3 class="awr"><a class="awr" name="host"></a>基础参数</h3>
<table border="0" width="50%" class="tdiff" summary="基础参数">
<tr>
	<th class="awrbg" scope="col">参数名字</th>
	<th class="awrbg" scope="col">当前参数值</th>
	<th class="awrbg" scope="col">参数建议</th>
</tr>
<tr>
	<td>innodb_buffer_pool_size</td>
	<td>{{ (innodb_buffer_pool_size | int / 1024 /1024) | round(2) }} MB</td>
	{% if innodb_buffer_pool_size < (sys_total_mem | int) * 1024 * 0.75  %}<td style="background:yellow">建议增大innodb_buffer_pool_size为75%总内存 ({{ ((sys_total_mem | int) * 1024 * 0.75) | int }}) </td> {%endif%}
</tr>
<tr>
	<td>default_storage_engine</td>
	<td>{{ default_storage_engine }}</td>
	{% if default_storage_engine != "InnoDB" %}<td style="background:yellow">建议设置默认存储引擎为innodb</td>{%endif%}
</tr>
<tr>
	<td>sync_binlog</td>
	<td>{{ sync_binlog}}</td>
	{% if sync_binlog != 1 %}<td style="background:yellow">建议设置 sync_binlog = 1</td>{%endif%}
</tr>
<tr>
	<td>innodb_flush_log_at_trx_commit</td>
	<td>{{ innodb_flush_log_at_trx_commit}}</td>
	{% if innodb_flush_log_at_trx_commit!= 1 %}<td style="background:yellow">建议设置 innodb_flush_log_at_trx_commit= 1</td>{%endif%}
</tr>
<tr>
	<td>transaction_isolation</td>
	<td>{{ transaction_isolation}}</td>
	{% if transaction_isolation != "REPEATABLE-COMMIT" %}<td style="background:yellow">建议设置 transaction_isolation = "REPEATABLE-COMMIT"</td>{%endif%}
</tr>
<tr>
	<td>read_only</td>
	<td>{{ read_only}}</td>
	{% if read_only == "OFF" and isslave %}<td style="background:yellow">当前库为从库, 建议设置为只读</td>{%endif%}
</tr>
</table>


{% if have_host %}
<h3 class="awr"><a class="awr" name="host"></a>主机信息</h3>
<table border="0" width="70%" class="tdiff" summary="主机信息">
<tr>
	<th class="awrbg" scope="col"></th>
	<th class="awrbg" scope="col">磁盘</th>
	<th class="awrbg" scope="col">文件系统类型</th>
	<th class="awrbg" scope="col">总大小</th>
	<th class="awrbg" scope="col">已使用空间</th>
	<th class="awrbg" scope="col">可用空间</th>
	<th class="awrbg" scope="col">使用百分比</th>
	<th class="awrbg" scope="col">目录(挂载点)</th>
</tr>
<tr>
	<td >数据目录(datadir)</td>	
	<td >{{data_dir[0]}}</td>	
	<td >{{data_dir[1]}}</td>	
	<td >{{((data_dir[2] | int) / 1024 / 1024 ) | round(2)}} GB</td>	
	<td >{{((data_dir[3] | int) / 1024 / 1024 ) | round(2)}} GB</td>	
	<td >{{((data_dir[4] | int) / 1024 / 1024 ) | round(2)}} GB</td>	
	<td {% if data_dir[5].split("%")[0] | int > 90 %}style="background:yellow" {% endif %}>{{data_dir[5]}}</td>	
	<td >{{data_dir[6]}}</td>	
</tr>
<tr>
	<td >binlog目录(log_bin)</td>	
	<td >{{logbin_dir[0]}}</td>	
	<td >{{logbin_dir[1]}}</td>	
	<td >{{((logbin_dir[2] | int) / 1024 / 1024 ) | round(2)}} GB</td>	
	<td >{{((logbin_dir[3] | int) / 1024 / 1024 ) | round(2)}} GB</td>	
	<td >{{((logbin_dir[4] | int) / 1024 / 1024 ) | round(2)}} GB</td>	
	<td {% if data_dir[5].split("%")[0] | int > 90 %}style="background:yellow" {% endif %}>{{logbin_dir[5]}}</td>	
	<td >{{logbin_dir[6]}}</td>	
</tr>
<tr>
	<td >relay_log目录(relay_log)</td>	
	<td >{{relay_dir[0]}}</td>	
	<td >{{relay_dir[1]}}</td>	
	<td >{{((relay_dir[2] | int) / 1024 / 1024 ) | round(2)}} GB</td>	
	<td >{{((relay_dir[3] | int) / 1024 / 1024 ) | round(2)}} GB</td>	
	<td >{{((relay_dir[4] | int) / 1024 / 1024 ) | round(2)}} GB</td>	
	<td {% if data_dir[5].split("%")[0] | int > 90 %}style="background:yellow" {% endif %}>{{relay_dir[5]}}</td>	
	<td >{{relay_dir[6]}}</td>	
</tr>
</table>

<table border="0" width="70%" class="tdiff">
<tr>
	<th class="awrbg" scope="col">当前CPU使用率</th>
	<th class="awrbg" scope="col">总CPU使用率</th>
	<th class="awrbg" scope="col">内存使用率</th>
	<th class="awrbg" scope="col">系统版本</th>
	<th class="awrbg" scope="col">负载</th>
</tr>
<tr>
	<td >{{cpu_p}}%</td>
	<td >{{cpu_p_total}}%</td>
	<td >{{mem_p}}%</td>
	<td >{{os_detail}}</td>
	<td >{{loadavg}}</td>
</tr>
</table>
{% endif %}




{% if isslave %}
<h3 class="awr"><a class="awr" name="slave_status"></a>主从复制状态</h3>
<table border="0" width="70%" class="tdiff" summary="主从复制状态">
<tr>
	<th class="awrbg" scope="col">Master_Host</th>
	<th class="awrbg" scope="col">Master_Port</th>
	<th class="awrbg" scope="col">Slave_IO_Running</th>
	<th class="awrbg" scope="col">Slave_SQL_Running</th>
	<th class="awrbg" scope="col">Master_Bind(延迟)</th>
</tr>
<tr>
	<td >{{master_host}}</td>
	<td >{{master_port}}</td>
	<td {% if slave_io_running != "YES" %}style="background:red" {% endif %} >{{slave_io_running}}</td>
	<td {% if slave_sql_running != "YES" %}style="background:red" {% endif %} >{{slave_sql_running}}</td>
	<td {% if master_bind | int > 90 %}style="background:yellow" {% endif %} >{{master_bind}}</td>
</tr>
</table>
{% endif %}


<h3 class="awr"><a class="awr" name="huizongxinxi"></a>数据库汇总信息</h3>
<table border="0" width="70%" class="tdiff" summary="数据库汇总信息">
<tr>
	<th class="awrbg" scope="col">数据库名</th>
	<th class="awrbg" scope="col">表数量</th>
	<th class="awrbg" scope="col">数据大小</th>
	<th class="awrbg" scope="col">索引大小</th>
	<th class="awrbg" scope="col">总大小(数据+索引)</th>
</tr>
{% for db in dbcount %}
<tr>
	<td >{{db[0]}}</td>
	<td >{{db[1]}}</td>
	<td >{{(db[2] / 1024 /1024) | round(2) }} MB</td>
	<td >{{(db[3] / 1024 /1024) | round(2) }} MB</td>
	<td >{{((db[3] + db[2]) / 1024 /1024) | round(2) }} MB</td>
</tr>
{% else %}
<tr>
	<td >没得</td>
</tr>
{% endfor %}
</table>
<img src="data:image/png;base64,{{dbcount_img_base64}}"  />

<h3 class="awr"><a class="awr" name="not_innodb"></a>非INNODB表</h3>
<table border="0" width="70%" class="tdiff" summary="非INNODB表">
<tr>
	<th class="awrbg" scope="col">数据库名</th>
	<th class="awrbg" scope="col">表名</th>
	<th class="awrbg" scope="col">引擎名字</th>
</tr>
{% for db in no_innodb %}
<tr>
	<td >{{db[0]}}</td>
	<td >{{db[1]}}</td>
	<td >{{db[2]}}</td>
</tr>
{% else %}
<tr>
	<td >没得</td>
</tr>
{% endfor %}
</table>


<h3 class="awr"><a class="awr" name="no_primary"></a>无主键的表</h3>
<table border="0" width="70%" class="tdiff" summary="无主键的表">
<tr>
	<th class="awrbg" scope="col">数据库名</th>
	<th class="awrbg" scope="col">表名</th>
</tr>
{% for db in no_primary %}
<tr>
	<td >{{db[0]}}</td>
	<td >{{db[1]}}</td>
</tr>
{% else %}
<tr>
        <td >没得</td>
</tr>
{% endfor %}
</table>


<h3 class="awr"><a class="awr" name="repeat_index"></a>重复索引的表</h3>
<table border="0" width="70%" class="tdiff" summary="重复索引的表">
<tr>
	<th class="awrbg" scope="col">数据库名</th>
	<th class="awrbg" scope="col">表名</th>
	<th class="awrbg" scope="col">索引名</th>
	<th class="awrbg" scope="col">列名</th>
</tr>
{% for db in repeat_index %}
<tr>
	<td >{{db[0]}}</td>
	<td >{{db[1]}}</td>
	<td >{{db[2]}}</td>
	<td >{{db[3]}}</td>
</tr>
{% else %}
<tr>
        <td >没得</td>
</tr>
{% endfor %}
</table>


<h3 class="awr"><a class="awr" name="no_index"></a>没得索引的表</h3>
<table border="0" width="70%" class="tdiff" summary="没得索引的表">
<tr>
	<th class="awrbg" scope="col">数据库名</th>
	<th class="awrbg" scope="col">表名</th>
</tr>
{% for db in no_index %}
<tr>
	<td >{{db[0]}}</td>
	<td >{{db[1]}}</td>
</tr>
{% else %}
<tr>
        <td >没得</td>
</tr>
{% endfor %}
</table>


<h3 class="awr"><a class="awr" name="over30days_table_static"></a>超过30天未更新统计信息的表</h3>
<table border="0" width="70%" class="tdiff" summary="超过30天未更新统计信息的表">
<tr>
	<th class="awrbg" scope="col">数据库名</th>
	<th class="awrbg" scope="col">表名</th>
</tr>
{% for db in over30days_table_static%}
<tr>
	<td >{{db[0]}}</td>
	<td >{{db[1]}}</td>
</tr>
{% else %}
<tr>
        <td >没得</td>
</tr>
{% endfor %}
</table>

<h3 class="awr"><a class="awr" name="over30days_index_static"></a>超过30天未更新统计信息的索引</h3>
<table border="0" width="70%" class="tdiff" summary="超过30天未更新统计信息的索引">
<tr>
	<th class="awrbg" scope="col">数据库名</th>
	<th class="awrbg" scope="col">表名</th>
</tr>
{% for db in over30days_index_static%}
<tr>
	<td >{{db[0]}}</td>
	<td >{{db[1]}}</td>
</tr>
{% else %}
<tr>
        <td >没得</td>
</tr>
{% endfor %}
</table>


<h3 class="awr"><a class="awr" name="over_100M_data_free"></a>碎片超过100MB的表</h3>
<table border="0" width="70%" class="tdiff" summary="碎片超过100MB的表">
<tr>
	<th class="awrbg" scope="col">数据库名</th>
	<th class="awrbg" scope="col">表名</th>
	<th class="awrbg" scope="col">碎片(DATA_FREE)</th>
</tr>
{% for db in over_100M_data_free %}
<tr>
	<td >{{db[0]}}</td>
	<td >{{db[1]}}</td>
	<td >{{db[2]}}</td>
</tr>
{% else %}
<tr>
        <td >没得</td>
</tr>
{% endfor %}
</table>


<h3 class="awr"><a class="awr" name="user_any"></a>任意主机都可登陆的用户</h3>
<table border="0" width="70%" class="tdiff" summary="任意主机都可登陆的用户">
<tr>
	<th class="awrbg" scope="col">用户名</th>
	<th class="awrbg" scope="col">主机名</th>
</tr>
{% for db in user_any%}
<tr>
	<td >{{db[0]}}</td>
	<td >{{db[1]}}</td>
</tr>
{% else %}
<tr>
        <td >没得</td>
</tr>
{% endfor %}
</table>


<h3 class="awr"><a class="awr" name="session_top10"></a>连接时间最长的10个用户</h3>
<table border="0" width="70%" class="tdiff" summary="连接时间最长的10个用户">
<tr>
	<th class="awrbg" scope="col">用户名</th>
	<th class="awrbg" scope="col">来源主机</th>
	<th class="awrbg" scope="col">连接的数据库</th>
	<th class="awrbg" scope="col">SQL类型</th>
	<th class="awrbg" scope="col">连接时间</th>
	<th class="awrbg" scope="col">连接状态</th>
	<th class="awrbg" scope="col">SQL语句</th>
</tr>
{% for db in session_top10%}
<tr>
	<td >{{db[0]}}</td>
	<td >{{db[1]}}</td>
	<td >{{db[2]}}</td>
	<td >{{db[3]}}</td>
	<td >{{db[4]}}</td>
	<td >{{db[5]}}</td>
	<td >{{db[6]}}</td>
</tr>
{% else %}
<tr>
        <td >没得</td>
</tr>
{% endfor %}
</table>



<h3 class="awr"><a class="awr" name="exec_sql_top10"></a>执行次数前10的SQL</h3>
<table border="0" width="70%" class="tdiff" summary="执行次数前10的SQL">
<tr>
	<th class="awrbg" scope="col">SQL语句</th>
	<th class="awrbg" scope="col">数据库</th>
	<th class="awrbg" scope="col">全表扫描的总次数</th>
	<th class="awrbg" scope="col">执行次数</th>
	<th class="awrbg" scope="col">total_latency</th>
	<th class="awrbg" scope="col">max_latency</th>
	<th class="awrbg" scope="col">avg_latency</th>
	<th class="awrbg" scope="col">lock_latency</th>
	<th class="awrbg" scope="col">返回的总行数</th>
	<th class="awrbg" scope="col">平均每次返回的行数</th>
	<th class="awrbg" scope="col">digest</th>
</tr>
{% for db in sql_top10%}
<tr>
	<td >{{db[0]}}</td>
	<td >{{db[1]}}</td>
	<td >{{db[2]}}</td>
	<td >{{db[3]}}</td>
	<td >{{db[4]}}</td>
	<td >{{db[5]}}</td>
	<td >{{db[6]}}</td>
	<td >{{db[7]}}</td>
	<td >{{db[8]}}</td>
	<td >{{db[9]}}</td>
	<td >{{db[10]}}</td>
</tr>
{% else %}
<tr>
        <td >没得</td>
</tr>
{% endfor %}
</table>


<h3 class="awr"><a class="awr" name="table_top10"></a>最大的前10张表</h3>
<table border="0" width="70%" class="tdiff" summary="前10大的表">
<tr>
	<th class="awrbg" scope="col">数据库名</th>
	<th class="awrbg" scope="col">表名</th>
	<th class="awrbg" scope="col">行数</th>
	<th class="awrbg" scope="col">数据大小</th>
	<th class="awrbg" scope="col">索引大小</th>
	<th class="awrbg" scope="col">总大小</th>
</tr>
{% for db in table_top10%}
<tr>
	<td >{{db[0]}}</td>
	<td >{{db[1]}}</td>
	<td >{{db[2]}}</td>
	<td >{{(db[3] / 1024 /1024) | round(2)}} MB</td>
	<td >{{(db[4] / 1024 /1024) | round(2)}} MB</td>
	<td >{{((db[4] +db[3]) / 1024 /1024) | round(2)}} MB</td>
</tr>
{% else %}
<tr>
        <td >没得</td>
</tr>
{% endfor %}
</table>


<h3 class="awr"><a class="awr" name="lock_top10"></a>前10的锁等待(锁)</h3>
<table border="0" width="70%" class="tdiff" >
<tr>
	<th class="awrbg" scope="col">库表</th>
	<th class="awrbg" scope="col">阻塞时间</th>
	<th class="awrbg" scope="col">相关索引</th>
	<th class="awrbg" scope="col">阻塞类型</th>
	<th class="awrbg" scope="col">被阻塞SQL</th>
	<th class="awrbg" scope="col">阻塞SQL</th>
	<th class="awrbg" scope="col">sql_kill_blocking_query</th>
</tr>
{% for db in lock_top10%}
<tr>
	<td >{{db[0]}}</td>
	<td >{{db[1]}}</td>
	<td >{{db[2]}}</td>
	<td >{{db[3]}}</td>
	<td >{{db[4]}}</td>
	<td >{{db[5]}}</td>
	<td >{{db[6]}}</td>
</tr>
{% else %}
<tr>
        <td >没得</td>
</tr>
{% endfor %}
</table>



<h3 class="awr"><a class="awr" name="all_plugins"></a>所有插件</h3>
<table border="0" width="70%" class="tdiff">
<tr>
	<th class="awrbg" scope="col">插件名字</th>
	<th class="awrbg" scope="col">是否启用</th>
	<th class="awrbg" scope="col">插件类型</th>
	<th class="awrbg" scope="col">插件版本</th>
	<th class="awrbg" scope="col">插件作者</th>
	<th class="awrbg" scope="col">LOAD_OPTION</th>
</tr>
{% for db in all_plugins%}
<tr>
	<td >{{db[0]}}</td>
	<td >{{db[1]}}</td>
	<td >{{db[2]}}</td>
	<td >{{db[3]}}</td>
	<td >{{db[4]}}</td>
	<td >{{db[5]}}</td>
</tr>
{% else %}
<tr>
	<td >没得</td>
</tr>
{%endfor%}
</table>

</body>
</html>
