<!DOCTYPE html>
<html>
<head lang="zh">
	<meta charset="UTF-8">
	<title>MYSQL_{{baseinfo['host']}}_{{baseinfo['port']}}</title>
<style type="text/css">
a {text-decoration: none;}
</style>
<script>
//定义个颜色列表, 要颜色就来这取....
const colorlist = ["rgb(54, 162, 235)", "rgb(255, 99, 132)", "rgb(255, 205, 86)","rgb(25, 202, 173)","rgb(214, 213, 183)","rgb(140, 199, 181)","rgb(209, 186, 116)","rgb(160, 238, 225)","rgb(230, 206, 172)","rgb(190, 231, 233)","rgb(236, 173, 158)","rgb(190, 237, 199)","rgb(244, 96, 108)"]
</script>

	{{style['jq']}}
	{{style['bcss']}}
	{{style['btcss']}}
	{{style['bjs']}}
	{{style['btjs']}}
	{{style['btzhjs']}}
	{{style['cjs']}}

</head>
<body>
<!-- 汇总信息 -->
<div >
<table class="table">
	<tr>
		<td>MYSQL地址</td>
		<td>{{baseinfo['host']}}</td>
		<td rowspan='10'>
			<div>
			<canvas id="radar_rate" width="100" height="50"></canvas>
			</div>
		</td>
	</tr>
	<tr>
		<td>MYSQL端口</td>
		<td>{{baseinfo['port']}}</td>
	</tr>
	<tr>
		<td>MYSQL版本</td>
		<td>{{baseinfo['version']}}</td>
	</tr>
	<tr>
		<td>MYSQL使用内存</td>
		<td>{{baseinfo['mem_total']}}</td>
	</tr>
	<tr>
		<td>巡检时间</td>
		<td>{{baseinfo['begin_time']}}</td>
	</tr>
	<tr>
		<td>巡检成功项</td>
		<td>{{baseinfo['inspection_success']}}</td>
	</tr>
	<tr>
		<td><span onclick="inspection_item_tool_tool('恢复')" >各阶段状态</span></td>
		<td><span onclick="inspection_item_tool_tool('正常')">正常:{{baseinfo['inspection_level_1']}}</span> <span onclick="inspection_item_tool_tool('提示')">提示:{{baseinfo['inspection_level_2']}}</span> <span onclick="inspection_item_tool_tool('警告')">警告:{{baseinfo['inspection_level_3']}}</span> <span onclick="inspection_item_tool_tool('严重')">严重:{{baseinfo['inspection_level_4']}}</span> <span onclick="inspection_item_tool_tool('致命')">致命:{{baseinfo['inspection_level_5']}}</span></td>
	</tr>
	<tr>
		<td>巡检得分(百分比)</td>
		<td>{{baseinfo['score']}}</td>
	</tr>
	<tr>
		<td>当前角色</td>
		<td>{{baseinfo['role']}}</td>
	</tr>
	<tr>
		<td title='根据得分计算的(仅供参考,可自定义)'>健康状态</td>
		{%if baseinfo['score']|int >= 85 %}
			<td title='棒棒哒'><p class="text-success">优</p></td>
		{%elif baseinfo['score']|int >= 70%}
			<td title='还不错'><p class="text-info">良</p></td>
		{%elif baseinfo['score']|int >= 60%}
			<td title='上升空间很大'><p class="text-secondary">一般</p></td>
		{%elif baseinfo['score']|int > 45%}
			<td title='???'><p class="text-warning">差</p></td>
		{%else%}
			<td title='gg'><p class="text-danger">糟糕</p></td>
		{%endif%}
	</tr>
	<tr>
		<td>运行时间</td>
		<td>{{baseinfo['uptime']}} 天</td>
	</tr>
</table>

<!-- 雷达图js -->
<script>
const ctx_radar_rate= document.getElementById('radar_rate');
const myChart_radar_rate= new Chart(ctx_radar_rate, {
	type: 'radar',
	data: {
		labels: ['{{baseinfo["radar_name"]| join("','")}}'] ,
		datasets: [
			{label: '得分雷达图',
			data:[{{baseinfo["radar1"]|join(",")}}],
			//backgroundColor:colorlist,
			fill: true,
			"backgroundColor": "rgb(54, 162, 235, 0.25)",
			"borderColor": "rgb(54, 162, 235)",
			},
		]
		
	},

	options: {
		responsive: true,
		plugins: {
			legend: {
				position: 'top',
				},
		title: {
			display: true,
			}
		}
	},

});
myChart_radar_rate.canvas.parentNode.style.height = '50vh';
myChart_radar_rate.canvas.parentNode.style.width = '50vh';
</script>
</div>

<!-- 巡检项汇总 -->
<div>
<table id='inspection_item' data-filter-control="true">
	<!-- 筛选工具 -->
	<div id='inspection_item_tool' style='display:none'>
	<button onclick="inspection_item_tool_tool('正常')">仅查看告警为<正常>({{baseinfo['inspection_level_1']}})的巡检项</button>
	<button onclick="inspection_item_tool_tool('提示')">仅查看告警为<提示>({{baseinfo['inspection_level_2']}})的巡检项</button>
	<button onclick="inspection_item_tool_tool('警告')">仅查看告警为<警告>({{baseinfo['inspection_level_3']}})的巡检项</button>
	<button onclick="inspection_item_tool_tool('严重')">仅查看告警为<严重>({{baseinfo['inspection_level_4']}})的巡检项</button>
	<button onclick="inspection_item_tool_tool('致命')">仅查看告警为<致命>({{baseinfo['inspection_level_5']}})的巡检项</button>
	<button onclick="inspection_item_tool_tool('恢复')">仅查看告警为<恢复>的巡检项</button>
	</div>
	<thead>
		<tr>
			<th>巡检项</th>
			<th>描述</th>
			<th data-sortable="true">是否巡检成功</th>
			<th data-field="type1" data-sortable="true" data-filter-control="true">分类</th>
			<th data-sortable="true">得分</th>
			<th data-field='t1a' data-sortable="true">总分</th>
			<th data-field='t1' data-sortable="true">状态</th>
		</tr>
	</thead>
	<tbody>
		{%for x in data%}
			<tr>
				<td title='{{data[x]['des']}}'><a style='text-decoration:none;color:black;' href='#{{x}}'>{{x}}</a></td>
				<td title='{{data[x]['des']}}'><a style='text-decoration:none;color:black;' href='#{{x}}'>{{data[x]['des'
]}}</a></td>
				<td>{%if data[x]['status']%}巡检成功{%else%}未巡检/巡检失败{%endif%}</td>
				<td>{%if data[x]['type']==1%}资源{%elif data[x]['type']==2%}安全与稳定{%elif data[x]['type']==3%}集群与高可用{%elif data[x]['type']==4%}性能与规范{%elif data[x]['type']==5%}参数{%elif data[x]['type']==6%}其它{%else%}其它{%endif%}</td>
				<td>{{data[x]['score']}}</td>
				<td>{{data[x]['old_score']}}</td>
			
				{%if data[x]['level'] == 0%}
					<td class="">普通</td>
				{%elif data[x]['level'] == 1%}
					<td class="text-success">正常</td>
				{%elif data[x]['level'] == 2%}
					<td class="text-info" title='影响微乎其微, 可以忽略. 对系统正常运行不影响'>提示</td>
				{%elif data[x]['level'] == 3%}
					<td class="text-warning" title='对系统影响一般, 会导致数据库性能降低'>警告</td>
				{%elif data[x]['level'] == 4%}
					<td class="text-danger" title='对系统影响严重. 严重拖慢数据库运行'>严重</td>
				{%elif data[x]['level'] == 5%}
					<td class="text-danger spinner-grow" title='对数据库影响特别严重'>致命</td>
				{%else%}
					<td class="text-secondary" title='不知道, 理论上你不会看到'>其它</td>
				{%endif%}
			</tr>
		{%endfor%}
	</tbody>
</table>
	<script>
		function inspection_item_tool_tool(aa){
			var $table_inspection_item1 = $('#inspection_item')
			if (aa=='恢复'){
				$table_inspection_item1.bootstrapTable('filterBy', {t1: ['正常','提示','警告','严重','致命']});
			}
			else{
				$table_inspection_item1.bootstrapTable('filterBy', {t1: [aa]});
			}
		}
	</script>
	<script>
		var $table_inspection_item = $('#inspection_item')
		$(function (){
			$table_inspection_item.bootstrapTable({
				sortable: true,
				pagination: true,
				pageList: [10, 20, 30, 100],
				search: true,
				showColumns: true,
				showToggle: true,
				clickToSelect: true,
				//showRefresh: true,

			})
		})
	</script>
</div>


<!-- 主机相关信息  -->
{% if hostdata['status'] %}
</br><h3>主机相关信息</h3>
<div>
	<table class='table'>
		<tr>
			<td>主机名</td>
			<td>{{hostdata['data']['hostname']['stdout']}}</td>
		</tr>
		<tr>
			<td>架构</td>
			<td>{{hostdata['data']['platform']['stdout']}}</td>
		</tr>
		<tr>
			<td>内核</td>
			<td>{{hostdata['data']['kernel']['stdout']}}</td>
		</tr>
		<tr>
			<td>CPU数量</td>
			<td>{{hostdata['data']['cpu_socket']['stdout']}} * {{hostdata['data']['cpu_core']['stdout']}} * {{hostdata['data']['cpu_thread']['stdout']}}</td>
		</tr>
		<tr>
			<td>CPU型号</td>
			<td>{{hostdata['data']['cpu_name']['stdout']}}</td>
		</tr>
		<tr>
			<td>总内存</td>
			<td>{{hostdata['data']['mem_total']['stdout']}} GB</td>
		</tr>
		<tr>
			<td>可用内存</td>
			<td>{{hostdata['data']['mem_available']['stdout']}} GB</td>
		</tr>
		<tr>
			<td>总SWAP</td>
			<td>{{hostdata['data']['swap_total']['stdout']}} GB (swappiness={{hostdata['data']['swappiness']['stdout']}})</td>
		</tr>
		<tr>
			<td>负载</td>
			<td>{{hostdata['data']['loadavg']['stdout']}}</td>
		</tr>
		<tr>
			<td>时区</td>
			<td>{{hostdata['data']['timezone']['stdout']}}</td>
		</tr>
	</table>

	<!-- 目录相关信息 -->
	</br><h3>数据库目录相关信息</h3>
	{%if hostdata['data']['dirstatus']%}
	<table class='table table-hover'>
		<thead>
			<tr>
				<td>对象</td>
				<td>文件系统</td>
				<td>类型</td>
				<td>总大小</td>
				<td>使用大小</td>
				<td>可用大小</td>
				<td>使用百分比</td>
				<td>挂载点</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td title="本目录占用空间{{hostdata['data']['datadir']['other']['stdout']}}">datadir</td>
				<td>{{hostdata['data']['datadir']['stdout'][0]}}</td>
				<td>{{hostdata['data']['datadir']['stdout'][1]}}</td>
				<td>{{hostdata['data']['datadir']['stdout'][2]}} GB</td>
				<td>{{hostdata['data']['datadir']['stdout'][3]}} GB</td>
				<td>{{hostdata['data']['datadir']['stdout'][4]}} GB</td>
				<td>{{hostdata['data']['datadir']['stdout'][5]}}</td>
				<td>{{hostdata['data']['datadir']['stdout'][6]}}</td>
			</tr>
			<tr>
				<td title="本目录占用空间{{hostdata['data']['redodir']['other']['stdout']}}">redodir</td>
				<td>{{hostdata['data']['redodir']['stdout'][0]}}</td>
				<td>{{hostdata['data']['redodir']['stdout'][1]}}</td>
				<td>{{hostdata['data']['redodir']['stdout'][2]}} GB</td>
				<td>{{hostdata['data']['redodir']['stdout'][3]}} GB</td>
				<td>{{hostdata['data']['redodir']['stdout'][4]}} GB</td>
				<td>{{hostdata['data']['redodir']['stdout'][5]}}</td>
				<td>{{hostdata['data']['redodir']['stdout'][6]}}</td>
			</tr>
			<tr>
				<td title="本目录占用空间{{hostdata['data']['binlogdir']['other']['stdout']}}">binlogdir</td>
				<td>{{hostdata['data']['binlogdir']['stdout'][0]}}</td>
				<td>{{hostdata['data']['binlogdir']['stdout'][1]}}</td>
				<td>{{hostdata['data']['binlogdir']['stdout'][2]}} GB</td>
				<td>{{hostdata['data']['binlogdir']['stdout'][3]}} GB</td>
				<td>{{hostdata['data']['binlogdir']['stdout'][4]}} GB</td>
				<td>{{hostdata['data']['binlogdir']['stdout'][5]}}</td>
				<td>{{hostdata['data']['binlogdir']['stdout'][6]}}</td>
			</tr>
			<tr>
				<td title="本目录占用空间{{hostdata['data']['tmpdir']['other']['stdout']}}">tmpdir</td>
				<td>{{hostdata['data']['tmpdir']['stdout'][0]}}</td>
				<td>{{hostdata['data']['tmpdir']['stdout'][1]}}</td>
				<td>{{hostdata['data']['tmpdir']['stdout'][2]}} GB</td>
				<td>{{hostdata['data']['tmpdir']['stdout'][3]}} GB</td>
				<td>{{hostdata['data']['tmpdir']['stdout'][4]}} GB</td>
				<td>{{hostdata['data']['tmpdir']['stdout'][5]}}</td>
				<td>{{hostdata['data']['tmpdir']['stdout'][6]}}</td>
			</tr>
		</tbody>
	</table>
	{%endif%}
</div>
{%endif%}

<!-- 数据库引擎相关 (各种使用率, 比如key buffer命中率) -->
</br>
<div>
	<h3 title='缓存相关,使用率之类的'>数据库引擎相关</h3>
	<table class='table table-hover'>
		<thead>
			<th>对象</th>
			<th>值</th>
		</thead>
		<tbody>
			<tr {%if baseinfo['key_buffer_read_hits'] == -1 %}title='未使用key_buffer'{%endif%}>
				<td>key_buffer_read_hits</td>
				<td>{{baseinfo['key_buffer_read_hits']}}%</td>
			</tr>
			<tr>
				<td>key_buffer_write_hits</td>
				<td>{{baseinfo['key_buffer_write_hits']}}%</td>
			</tr>
			<tr {%if baseinfo['query_cache_hits'] == -1 %}title='未使用查询缓存'{%endif%}>
				<td>query_cache_hits</td>
				<td>{{baseinfo['query_cache_hits']}}%</td>
			</tr>
			<tr>
				<td>innodb_buffer_read_hits</td>
				<td>{{baseinfo['innodb_buffer_read_hits']}}%</td>
			</tr>
			<tr>
				<td>table_open_cache_hits</td>
				<td>{{baseinfo['table_open_cache_hits']}}%</td>
			</tr>
			<tr>
				<td title='总内存:{{baseinfo["innodb_mem_total"]}}MB'>innodb内存使用率</td>
				<td>{{baseinfo['innodb_mem_used_p']}}%</td>
			</tr>
		</tbody>
	</table>
<div>

<!--数据库表信息-->
</br>
<div>
<h3>数据库基础信息</h3>
<table class='table table-hover'>
	<thead>
		<th>数据库名</th>
		<th>数据大小</th>
		<th>索引大小</th>
		<th>默认字符集</th>
	</thead>
	<tbody>
{%for db in baseinfo['db_table']['data'].values%}
	<tr>
		<td>{{db[0]}}</td>
		<td>{{(db[1]|int/1024/1024/1024)|round(2)}} GB</td>
		<td>{{(db[2]|int/1024/1024/1024)|round(2)}} GB</td>
		<td>{{db[3]}}</td>
	</tr>
{%endfor%}
	</tbody>
</table>
</div>

<!-- 数据库参数 -->
</br>
<div>
<h3>数据库参数</h3>
<table class='table table-hover'>
	<thead>
		<th>参数</th>
		<th>值</th>
		<th>描述</th>
		<th>建议</th>
	</thead>
	<tbody>
{%for inspection_item in data%}
	{%if data[inspection_item]['type'] == 5 and data[inspection_item]['status']%}
	<tr id={{inspection_item}}>
		<td>{{inspection_item}}</td>
		<td>{{data[inspection_item]['data'].values[0][0]}}</td>
		<td>{{data[inspection_item]['des']}}</td>
		{%if data[inspection_item]['score'] < data[inspection_item]['old_score']%}
		<td>{{data[inspection_item]['suggestion']}}</td>
		{%endif%}
	</tr>
	{%endif%}
{%endfor%}
	<tbody>
</table>
</div>

<!-- 数据库状态(就是画那几张图)  -->
{%if data1_result['status']%}
</br>
<h3>MYSQL网络情况</h3>
<div>
<canvas id="net_rate_in" width="100" height="50"></canvas>
</div>
<script>
const ctx_net_rate_in = document.getElementById('net_rate_in');
const myChart_net_rate_in = new Chart(ctx_net_rate_in, {
	type: 'line',
	data: {
		labels: ['{{data1_result['data']['time_seq']| join("','")}}'] ,
			datasets: [
				{label: '接收数据(字节)',
				data:[{{data1_result['data']['Bytes_received']|join(",")}}],
				backgroundColor:"rgb(54, 162, 235)",
				//yAxisID:'A',
				fill: true,
				},
				{label: '发送数据(字节)',
				data:[{{data1_result['data']['Bytes_sent']|join(",")}}],
				backgroundColor:"rgb(255, 99, 132)",
				//yAxisID:'A',
				fill: true,
				},
				]
		
	},
 options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
      }
    }
  },
});
myChart_net_rate_in.canvas.parentNode.style.height = '50vh';
myChart_net_rate_in.canvas.parentNode.style.width = '100vh';
</script>

<h3>INNODB读写数据速度(Innodb_data_read/Innodb_data_written)</h3>
<div>
<canvas id="innodb_read" width="100" height="50"></canvas>
</div>
<script>
const ctx_innodb_read= document.getElementById('innodb_read');
const myChart_innodb_read= new Chart(ctx_innodb_read, {
	type: 'line',
	data: {
		labels: ['{{data1_result['data']['time_seq']| join("','")}}'] ,
			datasets: [
				{label: 'INNODB READ(字节)',
				data:[{{data1_result['data']['Innodb_data_read']|join(",")}}],
				backgroundColor:"rgb(54, 162, 235)",
				//yAxisID:'A',
				fill: true,
				},
				{label: 'INNODB WRITE(字节)',
				data:[{{data1_result['data']['Innodb_data_written']|join(",")}}],
				backgroundColor:"rgb(255, 99, 132)",
				//yAxisID:'A',
				fill: true,
				},
				]
		
	},
 options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
      }
    }
  },
});
myChart_innodb_read.canvas.parentNode.style.height = '50vh';
myChart_innodb_read.canvas.parentNode.style.width = '100vh';
</script>

<h3>TPS和QPS</h3>
<div>
<canvas id="tps_qps" width="100" height="50"></canvas>
</div>
<script>
const ctx_tps_qps = document.getElementById('tps_qps');
const myChart_tps_qps = new Chart(ctx_tps_qps, {
	type: 'line',
	data: {
		labels: ['{{data1_result['data']['time_seq']| join("','")}}'] ,
			datasets: [
				{label: 'TPS',
				data:[{{data1_result['data']['_commit_rollback']|join(",")}}],
				backgroundColor:"rgb(54, 162, 235)",
				//yAxisID:'A',
				//fill: true,
				},
				{label: 'QPS',
				data:[{{data1_result['data']['Queries']|join(",")}}],
				backgroundColor:"rgb(255, 99, 132)",
				//yAxisID:'A',
				//fill: true,
				},
				]
		
	},
 options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
      }
    }
  },
});
myChart_tps_qps.canvas.parentNode.style.height = '50vh';
myChart_tps_qps.canvas.parentNode.style.width = '100vh';
</script>

<h3>REDO LOG 写日志速度</h3>
<div>
<canvas id="redo_log_write" width="100" height="50"></canvas>
</div>
<script>
const ctx_redo_log_write = document.getElementById('redo_log_write');
const myChart_redo_log_write= new Chart(ctx_redo_log_write, {
	type: 'line',
	data: {
		labels: ['{{data1_result['data']['time_seq']| join("','")}}'] ,
			datasets: [
				{label: 'redo log write',
				data:[{{data1_result['data']['Innodb_os_log_written']|join(",")}}],
				backgroundColor:"rgb(54, 162, 235)",
				//yAxisID:'A',
				fill: true,
				},
				]
		
	},
 options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
      }
    }
  },
});
myChart_redo_log_write.canvas.parentNode.style.height = '50vh';
myChart_redo_log_write.canvas.parentNode.style.width = '100vh';
</script>

<h3>SQL执行情况</h3>
<div>
<canvas id="com_sql" width="100" height="50"></canvas>
</div>
<script>
const ctx_com_sql= document.getElementById('com_sql');
const myChart_com_sql= new Chart(ctx_com_sql, {
	type: 'line',
	data: {
		labels: ['{{data1_result['data']['time_seq']| join("','")}}'] ,
			datasets: [
				{label: 'Select',
				data:[{{data1_result['data']['Com_select']|join(",")}}],
				backgroundColor:"rgb(54, 162, 235)",
				//fill: true,
				},
				{label: 'Delete',
				data:[{{data1_result['data']['Com_delete']|join(",")}}],
				backgroundColor:"rgb(255, 99, 132)",
				//fill: true,
				},
				{label: 'Update',
				data:[{{data1_result['data']['Com_update']|join(",")}}],
				backgroundColor:"rgb(255, 205, 86)",
				//fill: true,
				},
				{label: 'Insert',
				data:[{{data1_result['data']['Com_insert']|join(",")}}],
				backgroundColor:"rgb(25, 202, 173)",
				//fill: true,
				},
				]
		
	},
 options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
      }
    }
  },
});
myChart_com_sql.canvas.parentNode.style.height = '50vh';
myChart_com_sql.canvas.parentNode.style.width = '100vh';
</script>
{%endif%}


<!-- 巡检项详情 -->
{%for inspection_item in data%}
	{%if inspection_item not in ['aa','bb'] and data[inspection_item]['type'] != 5 and data[inspection_item]['status'] %}
<div>
	</br><h3 id='{{inspection_item}}' title='{{inspection_item}}'>{{data[inspection_item]['des']}}</h3>
	<div>
	<table {%if data[inspection_item]['data_rows'] <= 10 %}class='table table-hover'{%endif%} id='table_{{inspection_item}}'>
		<thead>
			<tr>
			{%for row in data[inspection_item]['data']%}
				<th>{{row}}</th>
			{%endfor%}
			</tr>
		</thead>
		<tbody>
			{%for row in data[inspection_item]['data'].values%}
			<tr>
				{% for col in row%}
				<td>{{col}}</td>
				{% endfor %}
			</tr>
			{%endfor%}
		</tbody>
	</table>
	</div>
	{%if data[inspection_item]['data_rows'] > 10%}
	<script>
		var $table1_{{inspection_item}} = $('#table_{{inspection_item}}')
		$(function (){
			$table1_{{inspection_item}}.bootstrapTable({
				//sortable: true,
				pagination: true,
				pageList: [10, 20, 30, 100],
				search: true,
				showColumns: true,
				//showToggle: true,
				//clickToSelect: true,
				//showRefresh: true,
				columns : [
				{%for row in data[inspection_item]['data']%}
				{field:'{{row}}'},
				{%endfor%}
				]
			})
		})
	</script>
	{%endif%}
</div>
	{%endif%}
{%endfor%}


<!-- 建议 -->
</br>
<h3>建议</h3>
<table class='table table-hover'>
{%for s in baseinfo['inspection_suggestion']%}
<tr><td>
{{s}}
</td></tr>
{%endfor%}
</table>

<!--
{{baseinfo}}
{{hostdata}}
{%for i in data%}
{{data[x]}}
{%endfor%}
-->
<!-- {{data1_result}} -->
<body>
</html>
